@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
::-webkit-scrollbar {
    width: 2.5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

  /* Customize the horizontal scrollbar track */
::-webkit-scrollbar:horizontal {
  height: 2.5px; /* Set the height according to your design */
}

/* Customize the horizontal scrollbar handle */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #ccc;
  border-radius: 4px;
}

/* Customize the horizontal scrollbar handle on hover */
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #aaa;
}

/* Optional: Customize the horizontal scrollbar track when the content is being scrolled */
::-webkit-scrollbar-track:horizontal {
  background-color: #f5f5f5;
}